mixin video(dideo)
    a(href=`/videos/${dideo.id}`).video-mixin
        div.video-mixin__thumb
        div.video-mixin__data
            span.video-mixin__title=dideo.title
            div.video-mixin__meta
                span #{dideo.owner.name} • 
                span #{dideo.meta.views} 회