// config

@import "./config/_variables.scss";
@import "./config/_reset.scss";


// Components
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/shared.scss";
@import "./components/forms.scss";
@import "./components/social-login.scss";
@import "./components/header.scss";

// Screens
@import "./screens/search.scss";
@import "./screens/profile.scss";
@import "./screens/edit-profile.scss";
@import "./components/video-player.scss";
// Default



body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: $bg;
    color: white;

    a {
        color: inherit;
        text-decoration: none;
    }
}

main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}