extends base.pug

block content 
    h4 Change Title of Video
    form(method="POST")
        input(name="title" placeholder="제목",value=video.title,required)
        input(name="description", placeholder="내용", required, type="text",maxLength=150, value=video.description)
        input(name="hashtags", placeholder="해시태그", required, type="text", value=video.hashtags.join())
        input(value="저장",type="submit")
    